@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}
body {
    padding: 20px;
    height: 100vh;
    background: url("images/pics/backgroundTwo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
input {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    background-color: transparent;  
    border:none;
    border-bottom: 2px solid black;
    outline: none;
}
input::placeholder {
    color: #000;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}
.city-name {
    padding: 10px;
    border-radius: 4px;
    font-size: 45px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    min-height: 70px;
    min-width: 200px;
}
.weather-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: rgba(0,0,0,0.6);
    font-size: 30px;
    color: white;
    padding: 20px;
    border-radius: 4px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 200px;
}
.weather-icon {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.weather-icon > img {
    height: 50px;
    width: 50px;
}
.error-message {
    color: rgb(238, 2, 2);
}